.order-details-card {
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid #70357A;
  padding: 10px 10px;

  &--orderNumber {
    display: block;
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
  }

  &--name {
    display: block;
    text-align: center;
    font-size: 10px;
    color: #999;
    margin-bottom: 5px;
  }

  &--material {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;

    .MuiSvgIcon-root {
      font-size: 14px;
      margin: 5px 0 5px 5px;
    }
  }

  &--quantity {
    font-size: 12px;
    display: block;
    text-align: center;
    font-weight: 700;
  }
}
